* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}


:root {

    --f1-color: #fff;
    --f2-color: #000;
    --f3-color: rgba(0, 0, 0, 0.8);
    --f4-color: rgba(0, 0, 0, 0.6);
    --f5-color: #0099cc;
    --f6-color: #88cee6;


    --bg1-color: #fff;
    --bg2-color: #000;
    --bg3-color: green;
    --bg4-color: green;
    --bg5-color: green;
    --bg6-color: rgba(0, 0, 0, 0.4);
    --bg7-color: rgba(0, 0, 0, 0.2);
    --glass-bg: linear-gradient(to right bottom,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.3));
    --C-lg-bg: linear-gradient(45deg, #ff3399, #ff9933);


    --xxxl-fs: 2.2rem;
    --xxl-fs: 1.8rem;
    --xl-fs: 1.6rem;
    --l-fs: 1.4rem;
    --m-fs: 1.2rem;
    --s-fs: 1.1rem;
    --xs-fs: 1rem;


    --m-2-5: 2.5rem;
    --m-1-8: 2.3rem;
    --m-1-5: 1.5rem;
    --m-0-6: 0.6rem;
    --m-0-5: 0.5rem;
    --m-0-3: 0.3rem;


    --p-2-5: 2.5rem;
    --p-1-5: 1.5rem;
    --p-1-0: 1rem;
    --p-0-8: 0.8rem;
    --p-0-5: 0.8rem;
    --p-0-4: 0.4rem;
    --p-0-3: 0.3rem;
}




.container-bio {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas:
        "userProfile userDetails"
        "work_skills timeline_about"
        "work_skills timeline_about";
    width: 90%;
    grid-gap: 10px;
    padding: 20px;
    background: rgba(234, 255, 247, 0.23);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.23), 0 0 25px rgba(67, 67, 67, 0.08);
    border-radius: 20px;


}



.userProfile {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.486);
    grid-area: userProfile;
}

.work_skills {
    background-color: rgba(255, 255, 255, 0.486);
    grid-area: work_skills;
}

.userDetails {
    background-color: rgba(255, 255, 255, 0.486);
    grid-area: userDetails;
}

.timeline_about {
    background-color: rgba(255, 255, 255, 0.486);
    grid-area: timeline_about;
}


.container header .brandLogo figure img {
    width: 2.5rem;
    height: 2.5rem;
}

.container header .brandLogo span {
    font-size: var(--xl-fs);
    font-weight: 700;
    margin-left: var(--m-0-5);
}

figure img {
    border-radius: 50%;


}

.statusCliente {
    font-weight: bold;
    font-size: 1.5rem;
}

figure {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.userProfile {
    display: flex;
    align-items: center;
    justify-content: center;

}

.userDetails,
.work_skills,
.timeline_about,
.userProfile {
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.153);
}

.work_skills {
    padding: 20px;
}

.work_skills .work .primary h1 {
    font-size: 2rem;
}

.work_skills .work .primary hr {
    background-color: gray;
    height: 2px;
    border: none;
    outline: none;
}

.timeline_about .tabss .about i hr {
    height: 12px;
    background-color: red;
}

.container .userProfile .profile figure img {
    width: 22rem;
    height: 22rem;
    border-radius: 50%;
    border: solid 4px green;
}

.userDetails {
    position: relative;
    padding: var(--p-1-5) var(--p-2-5);
}

.userDetails .userName h1 {
    font-size: 2rem;
}

.userDetails .userName .map {
    position: absolute;
    top: 2.5rem;
    left: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userDetails .userName .map .ri {
    margin-right: var(--m-0-3);
    font-size: var(--m-fs);
}

.userDetails .userName .map span {
    font-size: var(--s-fs);
    color: var(--f3-color);
    font-weight: 700;
    transform: translateX(290px);
}

.userDetails .userName p {
    font-size: 1.1rem;
    font-weight: 700;
    color: green;
    ;
    margin-bottom: var(--m-1-8);
}

.userDetails .rank {
  display: flex;

 flex-direction: column;
   
}

.userDetails .ranknota{
    display: flex;
}

.userDetails .rank .heading {
    font-size: 1.4rem;
    color: var(--f4-color);
    text-transform: uppercase;
    margin-bottom: var(--m-0-6);
    display: flex;
    flex-direction: column;
}

.userDetails .rank span {
    display: flex;
    font-size: 3.5rem;
    font-weight: 700;

    width: 5%;
}

    .userDetails .rank .rating {
        display: flex;
    
        width: 15%;
        align-items: center;
    }

    .userDetails .rank .rating .rate {
        color: var(--f5-color);
        font-size: 8rem;
    }

    .userDetails .rank .rating .underrate {
        color: var(--f6-color);
    }

.userDetails .btns ul li a {

    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #77dd77;
    background-image: linear-gradient(45deg, #32cd32 0%, #77dd77 51%, #32cd32 100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 25px;
    text-decoration: none;
}

.userDetails .btns ul li a:hover {
    background-position: right center;

    color: #fff;
    text-decoration: none;
}

.userDetails .btns ul li a:active {
    transform: scale(0.95);
}


.userDetails .btns ul,
.userDetails .btns ul li {
    display: flex;
    align-items: center;
}

.userDetails .btns ul li {
    margin-right: var(--m-2-5);
    border-radius: 0.5rem;
}

.userDetails .btns ul li .ri {
    margin-right: var(--m-0-5);
    font-size: var(--xl-fs);
}

.OqRecolho {
    display: flex;
    justify-content: center;

    margin-top: 60px;
    width: 100%;
}



.OqRecolho h1 {
    font-size: 1.4rem;


}

.recolheButton {
    display: flex;
    align-items: center;
    justify-content: center;


}

.recolheButton nav {

    border: none;
    outline: none;
    border-radius: 20%;
    height: 40px;
    width: 70px;
    background: #FFFFFF;
    box-shadow: 31.3778px 24.8079px 67px rgba(0, 0, 0, 0.08), 20.3375px 16.0792px 39.2384px rgba(0, 0, 0, 0.0607407), 12.0863px 9.55563px 21.3407px rgba(0, 0, 0, 0.0485926), 6.27557px 4.96158px 10.8875px rgba(0, 0, 0, 0.04), 2.55671px 2.02138px 5.45926px rgba(0, 0, 0, 0.0314074), 0.581071px 0.459406px 2.63657px rgba(0, 0, 0, 0.0192593);
    border-radius: 20px;

    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: column;
    align-items: center;
}




.botao {
    padding: 10px;
    border: none;
    border-radius: 50%;
    box-shadow: 31.3778px 24.8079px 67px rgba(0, 0, 0, 0.08), 20.3375px 16.0792px 39.2384px rgba(0, 0, 0, 0.0607407), 12.0863px 9.55563px 21.3407px rgba(0, 0, 0, 0.0485926), 6.27557px 4.96158px 10.8875px rgba(0, 0, 0, 0.04), 2.55671px 2.02138px 5.45926px rgba(0, 0, 0, 0.0314074), 0.581071px 0.459406px 2.63657px rgba(0, 0, 0, 0.0192593);
    border-radius: 50px;

    color: black;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
    display: flex;
        justify-content: center;
    margin-bottom: 32px;
    align-items: center;
}

.botao:hover {
    width: 85px;

}

.botao.clicado {

    height: 150px;
    width: 50%;
    box-shadow: 31.3778px 24.8079px 67px rgba(0, 0, 0, 0.08), 20.3375px 16.0792px 39.2384px rgba(0, 0, 0, 0.0607407), 12.0863px 9.55563px 21.3407px rgba(0, 0, 0, 0.0485926), 6.27557px 4.96158px 10.8875px rgba(0, 0, 0, 0.04), 2.55671px 2.02138px 5.45926px rgba(0, 0, 0, 0.0314074), 0.581071px 0.459406px 2.63657px rgba(0, 0, 0, 0.0192593);
    border-radius: 25px;
    transition: all 0.5s ease-in-out;
    animation-name: descer;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
}

@keyframes descer {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(30px);
    }
}

.ListaOqRecolho {


}

.quadrado {

    display: none;


}

.star-icon {
    color: red;
}

.star-iconcolor {
    color: green;
    
}

.retangulo {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 100%;
    width: 100%;
    border-radius: 60px;
    

}

.retangulo li {
    width: 150%;
    padding: 3px;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 247, 247);
    border-radius: 15px;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: opacity 5.2s ease-in;
    text-align: center;
  
}

.iconnaoclicado {
    color: rgb(0, 0, 0);
    font-weight: 600;
}


.iconclicado {
    display: none;
}


.userDetails .btns ul .active a,
.userDetails .btns ul .active .ri {
    color: white;
}


.timeline_about {
    padding: var(--p-2-5);
}

.timeline_about .tabss ul {

    display: flex;
    align-items: center;
    margin-bottom: var(--m-2-5);
}

.timeline_about .tabss ul::before {

    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
    background: var(--bg7-color);
}

.timeline_about .tabss ul li {

    display: flex;
    align-items: center;
    margin-right: var(--m-2-5);
    padding-bottom: var(--p-0-8);
    cursor: pointer;
}

.timeline_about .tabss ul li span {
    font-size: 2.2rem;
    font-weight: 600;

}

.timeline_about .tabss ul li .ri {
    margin-right: var(--m-0-5);
}

.timeline_about .tabss ul .active::before {

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: var(--bg5-color);
}

.timeline_about .contact_info .label {
    font-size: 3rem;
}

.timeline_about .contact_info .heading,
.timeline_about .basic_info .heading {
    font-size: var(--xs-fs);
    color: var(--f4-color);
    text-transform: uppercase;
    margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul,
.timeline_about .basic_info ul {
    margin-bottom: var(--m-1-5);
}

.timeline_about .contact_info ul li,
.timeline_about .basic_info ul li {
    display: flex;
    margin: var(--m-0-5) 0;
}

.timeline_about .contact_info ul li .label,
.timeline_about .basic_info ul li .label {
    font-weight: 500;
    font-size: 20px;
    min-width: 12rem;

}

.timeline_about .contact_info ul li span,
.timeline_about .basic_info ul li span {
    font-size: var(--m-fs);
    color: green;
    font-weight: 400;
}

.timeline_about .contact_info ul .phone span,
.timeline_about .contact_info ul .email span,
.timeline_about .contact_info ul .site span {
    color: var(--f5-color);
}

.section-recolher .OqRecolho h1 {
    color: rgb(0, 0, 0)(255, 255, 255);
}

.section-recolher .OqRecolho span {
    color: rgb(54, 101, 0);
    font-size: 1.4rem;
}



@media (min-width: 1920px) {
    .timeline_about {
        padding: 0.7rem;
    }

}


@media screen and (max-width: 1024px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 900px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 10px;
    }


    .container-bio {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "userProfile"
            "userDetails"
            "work_skills"
            "timeline_about";
        overflow-x: hidden;
        overflow-y: inherit;
        padding: 0;
        width: 90%;
        height: 100%;
        box-shadow: none;
    }




    .container-bio .card {
        backdrop-filter: none;
    }

    .userDetails {
        margin-bottom: 3rem;
    }

    .container-bio::before,
    .container-bio::after {
        display: none;
    }


    .container-bio header {
        padding: 2.5rem;
        
    }
}






.login-trigger {
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to bottom right, #B05574, #F87E7B);
    padding: 15px 30px;
    border-radius: 30px;
    position: relative; 
    top: 50%;
  }
  

  body.active-modal-aval {
    overflow-y: hidden;
    transition: all 1s ease-in-out;
}

.modal-aval,
.overlay-aval {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transition: all 1s ease-in-out;

}

.modal-aval {
    display: flex;
    z-index: 998;
    transition: all 1s ease-in-out;
}

.overlay-aval {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content-aval{
    line-height: 1.4;
    background: #eef3f7;
    box-shadow: 0px 15px 35px -5px rgb(50 88 130 / 32%);
    padding: 14px 28px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 720px;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow-y: scroll;
    z-index: 998;
    border-radius: 25px;
    transition: all 1s ease-in-out;
    color: #71829e;
    font-weight: 800;
    box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.13), 0px 22.3407px 25.4815px rgba(0, 0, 0, 0.078963), 0px 4.72593px 6.51852px rgba(0, 0, 0, 0.051037);
}

.rating-aval {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
   
  }

  .rating-aval > input {
    display: none;
  }

  .rating-aval > label {
    display: inline-block;
    position: relative;
    width: 1.1em;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    
  }

  .rating-aval > label:before {
    content: "\2606";
    position: absolute;
  }

  .rating-aval > input:checked ~ label:before,
  .rating-aval > input:checked ~ label ~ label:before {
    content: "\2605";
    color: #ffcc00;
  }

  .clear-rating {
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
  }

  .clear-rating:hover {
    color: red;
  }

  .button-liked {
    --color: #1E2235;
    --color-hover: #1E2235;
    --color-active: #fff;
    --icon: #BBC1E1;
    --icon-hover: #8A91B4;
    --icon-active: #fff;
    --background: #fff;
    --background-hover: #fff;
    --background-active: #362A89;
    --border: #E1E6F9;
    --border-active: #362A89;
    --shadow: #{rgba(#001177, .025)};
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    padding: 8px 20px 8px 24px;
    border-radius: 9px;
    line-height: 27px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--color);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: color 0.2s linear;
  }
  
  .button-liked.dark {
    --color: #F6F8FF;
    --color-hover: #F6F8FF;
    --color-active: #fff;
    --icon: #8A91B4;
    --icon-hover: #BBC1E1;
    --icon-active: #fff;
    --background: #1E2235;
    --background-hover: #171827;
    --background-active: #275EFE;
    --border: transparent;
    --border-active: transparent;
    --shadow: #{rgba(#001177, .16)};
  }
  
  .button-liked:hover {
    --icon: var(--icon-hover);
    --color: var(--color-hover);
    --background: var(--background-hover);
    --border-width: 2px;
  }
  
  .button-liked:active {
    --scale: 0.95;
  }
  
  .button-liked:not(.liked):hover {
    --hand-rotate: 8;
    --hand-thumb-1: -12deg;
    --hand-thumb-2: 36deg;
  }
  
  .button-liked.liked {
    --span-x: 2px;
    --span-d-o: 1;
    --span-d-x: 0;
    --icon: var(--icon-active);
    --color: var(--color-active);
    --border: var(--border-active);
    --background: var(--background-active);
  }
  
  .button-liked:before {
    content: "";
    min-width: 103px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    transition: background 0.2s linear, transform 0.2s, box-shadow 0.2s linear;
    transform: scale(var(--scale, 1)) translateZ(0);
    background: var(--background);
    box-shadow: inset 0 0 0 var(--border-width, 1px) var(--border), 0 4px 8px var(--shadow), 0 8px 20px var(--shadow);
  }
  
  .hand {
    width: 11px;
    height: 11px;
    border-radius: 2px 0 0 0;
    background: var(--icon);
    position: relative;
    margin: 10px 8px 0 0;
    transform-origin: -5px -1px;
    transition: transform 0.25s, background 0.2s linear;
    transform: rotate(calc(var(--hand-rotate, 0) * 1deg)) translateZ(0);
  }
  
  .hand:before,
  .hand:after {
    content: "";
    background: var(--icon);
    position: absolute;
    transition: background 0.2s linear, box-shadow 0.2s linear;
  }
  
  .hand:before {
    left: -5px;
    bottom: 0;
    height: 12px;
    width: 4px;
    border-radius: 1px 1px 0 1px;
  }
  
  .hand:after {
    right: -3px;
    top: 0;
    width: 4px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background: var(--icon);
    box-shadow: -0.5px 4px 0 var(--icon), -1px 8px 0 var(--icon), -1.5px 12px 0 var(--icon);
    transform: scaleY(0.6825);
    transform-origin: 0 0;
  }
  
  .hand .thumb {
    background: var(--icon);
    width: 10px;
    height: 4px;
    border-radius: 2px;
    transform-origin: 2px 2px;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.25s, background 0.2s linear;
    transform: scale(0.85) translateY(-0.5px) rotate(var(--hand-thumb-1, -45deg)) translateZ(0);
  }
  
  .hand .thumb:before {
    content: "";
    height: 4px;
    width: 7px;
    border-radius: 2px;
    transform-origin: 2px 2px;
    background: var(--icon);
    position: absolute;
    left: 7px;
    top: 0;
    transition: transform 0.25s, background 0.2s linear;
    transform: rotate(var(--hand-thumb-2, -45deg)) translateZ(0);
  }
  
  .hand,
  .spanLiked1{
    display: inline-block;
    vertical-align: top;
  }
  
  .spanLiked1 {
    opacity: var(--span-d-o, 1);
    transition: transform 0.25s, opacity 0.2s linear;
    transform: translateX(var(--span-d-x, 4px)) translateZ(0);
  }
  
  .button > .spanLiked1 {
    transition: transform 0.25s;
    transform: translateX(var(--span-x, 4px)) translateZ(0);
  }
  

  
