body.active-modal {
    overflow-y: hidden;
    transition: all 1s ease-in-out;
}

.modal-content::-webkit-scrollbar {
    width: 15px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    background: #262626;
}

.modal-content::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(12, 14, 19, 0.28), rgba(12, 14, 19, 0.28)), linear-gradient(168.02deg, #0C8B11 20.52%, rgba(28, 247, 36, 0.8) 91.24%);
    border-radius: 20px;


}



.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transition: all 1s ease-in-out;

}

.modal {
    z-index: 998;
    transition: all 1s ease-in-out;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #262626;
    padding: 14px 28px;
    border-radius: 3px;
    width: 695px;
    height: 1020px;
    overflow-y: scroll;
    z-index: 1;
    border-radius: 25px;
    transition: all 1s ease-in-out;
    color: #fff;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.close-modal:hover {

    box-shadow: 0px 78px 80px rgba(0, 0, 0, 0.08), 0px 39.4875px 34.875px rgba(0, 0, 0, 0.054), 0px 15.6px 13px rgba(0, 0, 0, 0.04), 0px 3.4125px 4.625px rgba(0, 0, 0, 0.026);
    transition: all 0.3s ease-in-out;
}

.Edit_adress_buton {
    background-color: green;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    padding: 5px 20px;
    width: 110px;
    border-color: 14px white;
}

.Edit_adress_buton_remove {
    background-color: red;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 15px;
    padding: 5px 20px;

}

.edit-adresss {
    background-color: green;
    border-radius: 40px;
    border-color: #fff;
    outline: none;
    color: #fff;
    height: 40px;
    width: 140px;

    transition: all 0.2s ease-in-out;
}

.edit-adresss:hover {
    height: 45px;
    width: 145px;
    transition: all 0.2s ease-in-out;
}

.Edit_adress_buton_remove {
    background-color: red;
    margin-left: 70px;
    margin-top: 10px;
}

.box_edit_adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;

}

.apelido_adress {

    width: 350px;
}

.container_apelido_adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* PARTE TESTE */