body.active-modal {
    overflow-y: hidden;
    transition: all 1s ease-in-out;
}


.modal-contentt::-webkit-scrollbar {
    width: 15px;
    border-radius: 15px;    
    background: transparent;
}

.modal-contentt::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(12, 14, 19, 0.28), rgba(12, 14, 19, 0.28)), linear-gradient(168.02deg, #6def35 90.52%, rgba(81, 238, 60, 0.8) 100.24%);
    border-radius: 15px;

}



.modal,
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transition: all 1s ease-in-out;

}

.modal {
    display: flex;
    z-index: 998;
    transition: all 1s ease-in-out;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-support{
    width: 495px;
    height: 100%;  

}

.modal-contentt{
    line-height: 1.4;
    background: #eef3f7;
    box-shadow: 0px 15px 35px -5px rgb(50 88 130 / 32%);
    padding: 14px 28px;
    border-radius: 15px;
    width: 720px;
    height: 1020px;
    overflow-y: scroll;
    z-index: 998;
    border-radius: 25px;
    transition: all 1s ease-in-out;
    color: #71829e;
    font-weight: 800;
    box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.13), 0px 22.3407px 25.4815px rgba(0, 0, 0, 0.078963), 0px 4.72593px 6.51852px rgba(0, 0, 0, 0.051037);
}

.modal-content-adress .apelido_adress {
    font-weight: 700;
}

.close-modall {
    position: absolute;
    top: 10px;
    width: 100%;
    left: 64%;
    padding: 5px 7px;
   background-color: transparent;
   outline: none;
   border: none;
    transition: all 0.3s ease-in-out;
}

.icon-xmark{
    font-size: 2rem;
}

.close-modall:hover {

  
    transition: all 0.3s ease-in-out;
}

.Edit_adress_buton {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 102px;

}

.Edit_adress_buton:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.Edit_adress_buton_remove {
    background-color: #f33737;
    border-radius: 100px;
    box-shadow: rgba(187, 44, 44, 0.2) 0 -25px 18px -14px inset, rgba(187, 44, 44, 0.15) 0 1px 2px, rgba(187, 44, 44, 0.15) 0 2px 4px, rgba(187, 44, 44, 0.15) 0 4px 8px, rgba(187, 44, 44, 0.15) 0 8px 16px, rgba(187, 44, 44, 0.15) 0 16px 32px;
    color: rgb(255, 215, 215);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.Edit_adress_buton_remove:hover {
    box-shadow: rgba(187, 44, 44, 0.35) 0 -25px 18px -14px inset, rgba(187, 44, 44, 0.25) 0 1px 2px, rgba(187, 44, 44, 0.25) 0 2px 4px, rgba(187, 44, 44, 0.25) 0 4px 8px, rgba(187, 44, 44, 0.25) 0 8px 16px, rgba(187, 44, 44, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.edit-adresss {
    background: #21DA6B;
    box-shadow: 4px 32px 13px rgba(0, 0, 0, 0.01), 2px 18px 11px rgba(0, 0, 0, 0.05), 1px 8px 8px rgba(0, 0, 0, 0.09), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-height: 55px;
    border: none;
    color: white;
    width: 200px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}


.Edit_adress_buton_remove {
    margin-left: 70px;
    margin-top: 10px;
}

.box_edit_adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 70px;

}

.apelido_adress {
    font-size: 1.3rem;
    width: 350px;
}

.container_apelido_adress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



/* TITULO MODAL */

.titulo-content-adress {
    font-weight: 800;
    top: 0;
    width: 120%;
    color: black;
    font-size: 1.5rem;
    margin-top: 30px;
}
.titulo-content-adress small{
    font-size: 1.5rem;
   color: #0C8B11;
  
}

.content-edit-adress{
    margin-top: 90px;
}

@media (max-width: 1920px){
    .modal-contentt{
        line-height: 1.4;
        background: #eef3f7;
        box-shadow: 0px 15px 35px -5px rgb(50 88 130 / 32%);
        padding: 14px 28px;
        border-radius: 15px;
        width: 720px;
        height: 890px;
        overflow-y: scroll;
        z-index: 998;
        border-radius: 25px;
        transition: all 1s ease-in-out;
        color: #71829e;
        font-weight: 800;
        box-shadow: 0px 58px 80px rgba(0, 0, 0, 0.13), 0px 22.3407px 25.4815px rgba(0, 0, 0, 0.078963), 0px 4.72593px 6.51852px rgba(0, 0, 0, 0.051037);
    }
}
