body.active-modal-2 {
    overflow-y: hidden;
    transition: all 1s ease-in-out;
}

.modal-2,
.overlay-2 {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    transition: all 1s ease-in-out;

}

.modal-2 {  
    z-index: 999;
    transition: all 1s ease-in-out;
}



.modal-content-2 {
  display: flex;
  justify-content: center;
    transform: translate(-15%, -1%);
    line-height: 1.4;
    background: #f9f9f9;
    padding: 14px 28px;
    border-radius: 3px;
    width: 700px;
    height: 1020px;
    z-index: 999;
    border-radius: 25px;
    transition: all 1s ease-in-out;
}



.close-modal-2 {
    position: absolute;
    top: 10px;
    background-color: green;
    right: 10px;
    padding: 5px 7px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.close-modal-2:hover {

    box-shadow: 0px 78px 80px rgba(0, 0, 0, 0.08), 0px 39.4875px 34.875px rgba(0, 0, 0, 0.054), 0px 15.6px 13px rgba(0, 0, 0, 0.04), 0px 3.4125px 4.625px rgba(0, 0, 0, 0.026);
    transition: all 0.3s ease-in-out;
}

.save-changes-2 {
    background: rgba(188, 191, 189, 0.33);
    border: none;
    outline: none;
    text-decoration: none;

    width: 120px;
    height: 50px;
    border-radius: 12px;
    font-weight: 600;
    width: 200px;
    transition: all 0.3s ease-in-out;
    margin-top: 100px;
}

.save-changes-2:hover {
    background-color: green;
}

.top-contentadrees-profile-2 h1 {
    background-color: rgb(0, 255, 60);

}


.form_field_adress {
    font-family: inherit;
    width: 120%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    font-size: 1.3rem;
    color: rgb(39, 36, 36);
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    transition: all 0.5s solid ease-in-out;
}

.form_field_adress::placeholder {
    color: transparent;

}

.form_field_adress::placeholder:focus {
    background-color: red;
  
}

.form_field_adress:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;

}

.form_field_adress:focus{
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, green, #90ee90);
    border-image-slice: 1;
    transition: all 0.5s solid ease-in-out;
}
