.main-material {

  height: 100vh;
  width: 100%;
  display: flex;
}

.body-cadastro {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.material-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-container {
  display: flex;
  justify-content: center;
  background-color: #2D2E37;
  box-shadow: -40.6395px 89.1764px 123px rgba(0, 0, 0, 0.07), -26.3404px 57.7995px 72.0347px rgba(0, 0, 0, 0.0531481), -15.6537px 34.3494px 39.1778px rgba(0, 0, 0, 0.0425185), -8.12791px 17.8353px 19.9875px rgba(0, 0, 0, 0.035), -3.31137px 7.26622px 10.0222px rgba(0, 0, 0, 0.0274815), -0.752584px 1.65141px 4.84028px rgba(0, 0, 0, 0.0168519);
  border-radius: 15px;
  width: 747px;
  height: 767px;

}



.buttonMaterial {
  background: linear-gradient(87.27deg, #53C82A 2.79%, #6DF93C 99.19%);
  border-radius: 19px;
  width: 274px;
  height: 65px;
  color: #fff;
  margin-top: 450px;
}

.basic-multi-selectt {
  border-radius: 50px;
  transform: translatey(40px);
  width: 420px;
}

.materials-select {
  background: red;

}

.material-content {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.material-content h1 {

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  width: 70%;
  font-style: normal;
  font-weight: bold;
  color: #fff;
  line-height: 48px;

}

.material-content p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-size: 25px;
  line-height: 24px;
  margin-top: 10px;
  color: #ffffff9f;
}

.material {
  background-color: #2D2E37;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 890px;
}

.material.right-panel-active-mt {
  justify-content: center;


}

.material.right-panel-active-mt .sign-up-material {
  min-height: 690px;
}



.form-cadastro-material {
  background-color: #2D2E37;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.sign-in-material {
  left: 0;
  width: 50%;
  z-index: 2;
}

.btn-register-mt {
  margin-top: 220px;
}

.material.right-panel-active-mt .sign-in-material {
  transform: translateX(-100%);
}

.sign-up-material {
  height: 100px;
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.material.right-panel-active-mt .sign-up-material {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-material {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.material.right-panel-active-mt .overlay-material {
  transform: translateX(-100%);
}

.overlay-mt {
  background: #222529;
  background: -webkit-linear-gradient(to right, #222529, #222529);
  background: linear-gradient(to right, #222529, #222529);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.material.right-panel-active-mt .overlay-mt {
  transform: translateX(50%);
}

.overlay-panel-mt {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left-mt {

  transform: translateX(-20%);
}

.material.right-panel-active-mt .overlay-left-mt {
  transform: translateX(0);
}

.overlay-right-mt {
  right: 0;
  transform: translateX(0);
}

.material.right-panel-active-mt .overlay-right-mt {
  transform: translateX(20%);
}

.btn-register-mt {
  border-radius: 20px;
  border: 1px solid #428a18;
  background-color: #06cc37;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

.btn-register-mt:focus {
  outline: none;
}

.ghost {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid white;
  outline: none;
  color: #fff;
  padding: 12px 35px;
}

.list-mt {
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 460px;
  display: flex;
  height: 50px;
  flex-direction: row;
  padding: 0px 16px;
  margin-top: 15px;
  transition: all 0.3s ease-in-out;
  justify-content: space-between;

}



.list-lc {
  display: flex;

  padding-left: 10px;
  align-items: center;
}


.list-lc li {
  min-width: 280px;
  width: 30px;
  display: flex;
  font-weight: 300;
  font-size: 1.3rem;
}

.list-lc button {
  background-color: rgb(135, 6, 6);
  height: 42px;
  width: 150px;
  border-radius: 25px;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all 0.2s ease-in-out;

}

.list-lc button:hover {
  height: 47px;
  width: 151px;
  background-color: rgb(199, 7, 7);
  transition: all 0.2s ease-in-out;
}



@media (max-width: 1920px) {
  .material {
    background-color: #2D2E37;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 790px;
  }

  .material.right-panel-active-mt {
    justify-content: center;
    height: 600px
  }

  .material-contentt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    height: 100vh;

  }

  .material-contentt h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    width: 90%;
    font-style: normal;
    font-weight: bold;
    color: #fff;
    line-height: 48px;
  }

  .material-contentt p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
    line-height: 24px;
    margin-top: 10px;
    color: #ffffff9f;
  }

  .form-cadastro-materiall {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}