.bg-proximos {
    position: fixed;
    top: 0;
    transform: rotate(80deg);
    left: 0;
}

.body-proximos {
    background-color: #dff8ea;
}



.wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: rgb(3, 64, 28);
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 130000ms infinite linear;
}

.wave.-three {
    animation: drift 18500ms infinite linear;
    position: fixed;
    background-color: #062b04;
}

.wave.-two {
    animation: drift 13000ms infinite linear;
    opacity: .1;
    background: black;
    position: fixed;
}

.bg-proximos:after {
    content: '';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

.square_container_catadores {
    height: 513px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1368px) {
    .square_container_catadores {
        height: 513px;
        width: 1020px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@keyframes drift {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}

