@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bd {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;

}

.home-section-cadastro {
    position: relative;
    background: #ffff; /*#2D2E37*/
    min-height: 100vh;
    top: 0;
    transition: all 0.5s ease;
    width: 100vw;

}

div {
    display: block;
}

.form-endereco {
    display: block;


}

.w50 {
    width: 50%;
    float: left;
    padding-right: 4px;

}

.box {
    display: flex;
    width: 1200px;



}

.img-box {
   
    width: 50%;
    transform: scale(1.1);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img {
    width: 100%;
}

.form-box {
  display: flex;
    backdrop-filter: blur(40px);
    padding: 30px 30px;
    width: 100%;
    transform: scale(1.1);
    align-items: center;
    border-radius: 0 20px 20px 0;
}

.form-box h2 {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
}

.form-box p {
    font-weight: bold;
    color: #3D3D3D;
    display: flex;
    justify-content: center;

}

.form-box p a {
    color: #FF008A;
    text-decoration: none;
}

.form-box form {
   width: 110%;
}

form .input-group {
    margin-bottom: 15px;
}

form .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

    form .input-group input {
        width: 100%;
        height: 47px;
        background-color: #F0F0F0;
        border-radius: 20px;
        outline: none;
        border: 2px solid transparent;
        padding: 15px;
        font-size: 15px;
        color: #616161;
        transition: all 0.4s ease;
    }






form .input-group input:focus {
    border-color: green;
}

form .input-group button {
    width: 100%;
    height: 47px;
    background: #85CC7A;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}



@media (max-width:930px) {
    .img-box {
        display: none;
    }

    .box {
        width: 700px;
    }

    .form-box {
        width: 100%;
        border-radius: 20px;
    }
}

@media (max-width:500px) {
    .w50 {
        width: 100%;
        padding: 0;
    }


    .menu-item-NX {
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 50px; */
        height: 50px;
        /* margin: 6px; */
        /* margin-left: 20px; */
        font-size: 18px;
        border-radius: 12px;
    }

}






.form-endereco {
    display: block;
  

}

.w50 {
    width: 50%;
    float: left;
    padding-right: 4px;

}



.box {
    display: flex;
    width: 1200px;



}

.img-box {
 
    width: 50%;
    transform: scale(1.1);
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}

.img-box img {
    width: 100%;
}

.form-box {

    backdrop-filter: blur(40px);
    padding: 30px 30px;
    width: 55%;
    transform: scale(1.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0 20px 20px 0;
}

.form-box h2 {
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: center;
}

.form-box p {
    font-weight: bold;
    color: #3D3D3D;
    display: flex;
    justify-content: center;

}

.form-box p a {
    color: #FF008A;
    text-decoration: none;
}

.form-box form {
    margin: 20px 0;
    
   
}

.input-group {
    margin-bottom: 15px;
}



 .input-group label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}




.form-box .form-endereco button{
margin-left: 100px;
}








@media (max-width:930px) {
    .img-box {
        display: none;
    }

    .box {
        width: 700px;
    }

    .form-box {
        width: 100%;
        border-radius: 20px;
    }
}

@media (max-width:500px) {
    .w50 {
        width: 100%;
        padding: 0;
        background-color: red;
    }


    .menu-item-NX {
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 50px; */
        height: 50px;
        /* margin: 6px; */
        /* margin-left: 20px; */
        font-size: 18px;
        border-radius: 12px;
    }

}

.wavee{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: 1;
}

.container-cadastro{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img-cadastro{
	display: flex;
	justify-content: flex-end;
	align-items: center;
    z-index: 1;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
    width: 100%;
    
}

.img img{
	width: 500px;
}




.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
    width: 100%;
   
}









@media screen and (max-width: 1050px){
	.container-cadastro{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container-cadastro{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	.wave{
		display: none;
	}

	.login-content{
		justify-content: center;
	}
}